* {
	user-select: none; /* supported by Chrome and Opera */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	font-size: 0.5vw;
}

body {
	background-color: rgba(0, 0, 0, 0);
	overflow: hidden;
}

.notify {
	width: 20%;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: none;
}

.container {
	overflow-x: hidden;
	overflow-y: auto;
	height: 90%;
	box-sizing: border-box;
}

.parent {
	position: relative;
	top: 0;
	left: 0;
}

.image1 {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.image2 {
	width: 40%;
	position: absolute;
	top: 0;
	right: 0;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 36%), 0 2px 10px 0 rgb(0 0 0 / 32%) !important;
}

.ArenaList {
	min-height: 30vh;
}

.create {
	color: #43b05c;
	font-size: 7vw;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.create:hover {
	opacity: 0.7;
}

.join,
.newGame {
	background: #43b05c;
	border-radius: 0px;
	color: #ffffff;
	font-size: 0.5vw;
	padding: 0.5vw;
	text-decoration: none;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	width: 100%;
}

.join:hover,
.newGame:hover {
	opacity: 0.7;
}

.join:hover {
	cursor: pointer;
	background: #50ca6c;
	text-decoration: none;
}

.quantity {
	/* padding-top: 1.047vw; */
	/* margin-right: 3.141vw; */
	display: flex;
	text-align: center;
	padding: 0;
	width: 100%;
	background-color: #dddddd;
	border-radius: 500px;
	max-height: 0.9vw;
}

.quantity .number {
	background-color: #dddddd;
	-webkit-appearance: none;
	border: none;
	text-align: center;
	width: 5vw;
	font-size: 0.6vw;
	color: #000000;
	font-weight: 300;
	top: 10%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.btnQuantity {
	text-align: center;
	width: 1vw;
	height: 1vw;
	/* background-color: #E1E8EE; */
	/* border-radius: 6px; */
	padding: 0;
	border: none;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

.btnQuantity:hover {
	opacity: 0.7;
}

.minus-btn img {
	width: 0.9vw;
	height: 0.9vw;
}
.plus-btn img {
	width: 0.9vw;
	height: 0.9vw;
}

.banner {
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 36%), 0 2px 10px 0 rgb(0 0 0 / 32%) !important;
	border-radius: 5px;
}

button:focus,
input:focus {
	outline: 0;
}

.GameLobby,
.GameCreate {
	width: 50%;
	height: 70%;
	background-image: url("./img/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 36%), 0 2px 10px 0 rgb(0 0 0 / 32%) !important;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 10000;
	display: none;
	overflow: hidden;
}

.header {
	width: 100%;
	height: 1.4vw;
	background-color: #4285f4;
	color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.header h1 {
	font-size: 1vw;
	text-align: center;
	margin: auto;
}

/* width */
::-webkit-scrollbar {
	width: 7px;
	height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.7);
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(250, 80, 121);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(250, 80, 121, 0.8);
}

select:hover {
	opacity: 0.7;
}

.centered {
	position: absolute;
	top: 83%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.5vw;
	font-weight: bold;
	text-shadow: 0.039vw 0.078vw 0.156vw rgb(0 0 0 / 60%);
}

.IMGcontainer {
	position: relative;
	text-align: center;
	color: white;
}

.avatar {
	width: 0.8vw;
	height: 0.8vw;
	border-radius: 100%;
	vertical-align: middle;
	border: 1px solid #eeeeee;
}

.xboxHovered {
	-webkit-box-shadow: inset 0px 0px 0px 3px #000;
	-moz-box-shadow: inset 0px 0px 0px 3px #000;
	box-shadow: inset 0px 0px 0px 3px #000;
	cursor: pointer;
}
